<!-- mysite/templates/about.html -->

{% extends "base.html" %} {% load static %} {% block content %}

<div class="container-fluid">
  <div class="container">
    <p>Meet Our Team</p>
    <div class="row row-cols-1 row-cols-md-4 g-4">
      <div class="col">
        <div class="card h-100">
          <img src="..." class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Stanislava Hristova</h5>
            <p class="card-text">
              A life-long learner with passion for Cybersecurity & Data. A
              current Data Science Fellow enhancing her Python and SQL skills,
              in addition to focusing on Data Analysis, Statistical Analysis,
              and Data Visualization. Team-focused, resorceful and detail
              oriented, ...see more
            </p>
          </div>
          <div class="card-footer">
            <div class="btn-group" role="group" aria-label="Basic example">
              <a href="#" class="btn btn-primary">LinkedIn</a>
              <a href="#" class="btn btn-dark">Github</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="..." class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Clariza Mayo</h5>
            <p class="card-text">
              Ambitious data scientist fellow committed to academic excellence.
              Prepared to implement diverse skill sets, technical proficiencies
              and new perspectices to leadership personnel. Adaptable and driven
              wih strong work ethic and ability to thrive... see more
            </p>
          </div>
          <div class="card-footer">
            <div class="btn-group" role="group" aria-label="Basic example">
              <a href="#" class="btn btn-primary">LinkedIn</a>
              <a href="#" class="btn btn-dark">Github</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="..." class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Juan Peralta</h5>
            <p class="card-text">
              Business Intelligence Analyst, Experienced in T-SQL Data
              Engineering, Analytics & Programming. Well familiarized with
              Systems SLDC analysis, design, development, implementation and
              support. Microsoft BI Data tools experience... see more
            </p>
          </div>
          <div class="card-footer">
            <div class="btn-group" role="group" aria-label="Basic example">
              <a href="#" class="btn btn-primary">LinkedIn</a>
              <a href="#" class="btn btn-dark">Github</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="..." class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Kari Sakib</h5>
            <p class="card-text">
              TA dynamic college student and aspiring Python Data Scientist.
              Flexibility with technologies such as Web and Front-End; more than
              2 years. Spend my time pursuing projects and learning to develop
              over pre-existing skills. Thrive upon building new things...see
              more
            </p>
          </div>
          <div class="card-footer">
            <div class="btn-group" role="group" aria-label="Basic example">
              <a href="#" class="btn btn-primary">LinkedIn</a>
              <a href="#" class="btn btn-dark">Github</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
