<!-- mysite/templates/index.html -->

{% extends "base.html" %} {% load static %} {% block content %}

<div class="container-fluid">
  <div class="container bg-dark">
    <p class="text-danger">
      CORONA<span class="text-light">VIRUS</span
      ><span class="text-muted">[COVID-19]</span>
    </p>
  </div>

  <div class="container">
    <p class="text-info">Research Statement</p>
    <p class="text-danger">
      We are tasked with looking at available information to identify those in
      the city with the biggest risk of covid. It is documented that elderly are
      the ones who are most at risk for the covid virus. By analyzing the trends
      of Covid-19 as it applied to how age affects mortality in NYC we will be
      able to reach a conclusion and prove/disprove our hypothesis.
    </p>

    <p class="text-info">Proposed hypothesis 1:</p>

    <p class="text-danger">
      The infection rate and fatality rate in the 75+ age group will be the
      highest fatality(deaths/total cases) because they are in the older age
      group.
    </p>

    <p class="text-info">Proposed hypothesis 2:</p>

    <p class="text-danger">
      Also,there is a direct correlation between the fataly rate and density of
      borough for the 75+ age group. A 75+ person living in a denser borough
      will have a higher chance of exposure and have a higher fatality than
      another 75+ person living in a less dense borough.
    </p>
    <a class="btn btn-danger" href="./about.html">Learn more</a>
  </div>
</div>
{% endblock %}
